#loggedUserWrapper {
    margin: 10px 20px;
    margin-right: auto;
    display: flex;
    align-items: center;
}

#loggedUserPhoto {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: 1px solid var(--accent);
}
#loggedUserGreeting {
    margin-left: 10px;
}