#pageContentWrapper {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 1000px;
    min-height: calc(100% - 20px);
    height: auto;
    display: flex;
    justify-content: space-between;
}
#columnArticle {
    background: white;
    width: 100%;
    padding: 50px;
    border-radius: 5px;
    line-height: 1.8rem;;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px 0;
}
#columnArticle h1 {
    color: var(--accent);
    font-size: 50px;
    margin-bottom: 50px;
}
#columnArticle h2 {
    margin: 20px 0 10px 0;
}
#columnAuthor {
    width: 300px;
    margin: 0 20px;
}

@media only screen and (max-width: 768px) {
    #pageContentWrapper {
        flex-direction: column-reverse;
        margin: 0;
    }
    #pageContentWrapper>* {
        border-radius: 0;
    }
    #columnArticle {
        padding: 30px;
    }
    #columnAuthor {
        width: 100%;
        margin: 0;
    }

}