.button {
    margin: 10px 20px 10px 0;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
}
.buttonFilled {
    background: var(--accent);
    color: white;
    border: none;
}
.buttonEmpty {
    background: white;
    color: var(--accent);
    border: 1px solid var(--accent);
    border-radius: 5px;
    font-weight: 700;
}
.buttonOverlay {
    width: 200px;
    height: 40px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttonOverlay:hover {
    background: rgba(0, 0, 0, 0.05);
    position: relative;
    border-radius: 5px;
}
